CREATE TABLE IF NOT EXISTS public.waseet_settings (
  id integer primary key default 1,
  username text not null,
  password text not null,
  token text,
  token_updated_at timestamp with time zone,
  is_active boolean default true,
  created_at timestamp with time zone default timezone('utc'::text, now()),
  updated_at timestamp with time zone default timezone('utc'::text, now())
);

ALTER TABLE public.waseet_settings DISABLE ROW LEVEL SECURITY;
